body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;    

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

header a:hover {
    color: black;
}

.portrait {
    width: 250px;
}

form {
    display: flex;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

button[type="submit"] {
    background-color: #666666;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #888888;
}

/* START RESPONSIVE CSS */

/* Original CSS styles for desktop screens */

/* Media query for tablets and smaller screens */
@media (max-width: 768px) {
    body {
        max-width: 100%;
        padding: 0 16px;
    }
    
    h1 {
        font-size: 48px;
    }
    
    .portrait {
        width: 200px;
    }
    
    header a {
        margin-right: 10px;
    }
}

/* Media query for mobile screens */
@media (max-width: 480px) {
    h1 {
        font-size: 32px;
    }
    
    .portrait {
        width: 150px;
    }
    
    header {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
